<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim blanditiis accusamus cum perspiciatis tempore, delectus, pariatur provident a quas quasi laboriosam quod quisquam sit sunt? Exercitationem numquam incidunt qui doloribus. Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Doloremque ullam repudiandae omnis dicta autem ex ducimus cumque eaque illum quaerat, ipsam cupiditate fugiat molestias quod reiciendis quis nisi. Alias, ipsum! Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Et eos a fuga voluptates ab asperiores deleniti cumque, similique commodi sit explicabo nobis delectus quo repellendus! Suscipit sed eaque alias omnis?
</p>